/*header and navigation*/

body {
	
}
	
.wrap{
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
	}
	
h1, .navigation {
	font-family: 'Roboto', sans-serif;
	color:  #898F9C;
	}

h1 {
    width: 300px;
	float: left;
	font-size: 25px;
	margin: 25px 128px 0 25px;
    }


.navigation{
  margin-top: 3%;
  float: left;
  font-size: 17px;
  padding-left: 0;
}

    
.navigation li{
    float: left;
    padding-left: 10px;
    border-right: 1px solid #898F9C;
    padding-right: 10px;
    }
 
.navigation li:last-of-type{
   border-right: none;
   }

h2 {
    font-family: 'Roboto', sans-serif;
	color:  #898F9C;
	}

.grid-1{
	
	
	}

aside{
	width: 500px;
	}

.blue{
	width: 200px;
	height: 200px;
	background-color: blue;
	margin: 10px 0px 0px 25px;
	float: left;
	}

.yellow{
	width: 200px;
	height: 200px;
	margin: 10px 10px;
	background-color: yellow;
	float: left;
	}

.red{
	width: 200px;
	height: 200px;
	margin: 5px 0px 0px 25px;
	background-color: red;
	float: left;
	}
	
	
.green{
	width: 200px;
	height: 200px;
	margin: 5px 10px;
	background-color: green;
	float: left;
	}
	

    
.navigation a:link{color:#898F9C; text-decoration: none;}
.navigation a:visited{color:#898F9C;}
.navigation a:hover{color: black;}
.navigation a:active{color:#898F9C;}

footer{
	width: 100%;
	overflow:hidden;
	border-top: 1px solid #898F9C;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color:  #898F9C;
	}
   
footer p{
    float: left;
	margin:10px 3px 0px 0px;
	width: 100px;
	}
	
.cpyri{
    margin: 2px 3px 0px 5px;
	padding: 10px 5 10 10;
	float: left;
    }



/*header and navigation*/
 
  
/*Site*/

.grid-2{
	overflow: hidden;
	width: 55%;
	padding-left: 15px;
	}

article {
  font-family: 'Roboto', sans-serif;
  color:  #898F9C;
  line-height: 1.5;
  }

.icons {
float: right;
margin-right: 20%;
padding-right:5px;
display: block;
	
}



/*Site*/

/*experimental*/
.group-buttons{
	width: 100%;
	margin: 30 0 0 75;
	float: left;
    }

.box-1, .box-2{
	width: 300px;
	height: 500px;
	float: left;
    }


.alert {
    color: white;
	font: Helvetica;
	border-color: #04c #04c #002a80 #04c;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    display: block;
    text-align: center;
    border-style: solid;
    -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      -ms-border-radius: 10px;
       -o-border-radius: 10px;
          border-radius: 10px;
     opacity: 0.9;
     padding-top: 22px;
    text-shadow: rgba(0,0,0,0.5);
     margin-bottom: 3px;
     
    }


.big{
  width: 150px;
  height: 50px;	
  
}


.small{
  width: 100px;
  height: 25px;
  padding-bottom: 21px;
  }
  
.image1{
	margin-left:25px;
}

.image2{
	margin-left:20px;
}

.alt-information{
	background-color: yellow;
	}
	
.stop{
	float:right;
	}

img.stop{
	margin-top: -15px;
	margin-right: 3px;
    }

img.check{
	margin-left: 20px;
}
	
.alt-success{
	background-color: green;
}

.alt-warning{
	background-color: red;
}	
	
.alt-error{
	background-color: blue;
}

.tooltip{
    display: inline;
    position: relative;
    }
    
 .tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 45px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position:  absolute;
    z-index: 98;
    width: 150px;
    }
    
  .tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 40px;
    content: "";
    left: 30%;
    position: absolute;
    z-index: 99;
}
/*experimental*/


/*journal*/


.container {
	width: 1010px;
    border: 1px solid black;
	overflow: hidden;
	border-radius: 15px;
	}

    
.left-side{
    float: left;
	width: 600px;
	margin: 15px;
	font-family: 'Roboto', sans-serif;
    color:  #898F9C;
    }

.right-side, .resources{
 float: right;
 width: 325px;
 font-family: 'Roboto', sans-serif;
 color:  #898F9C;
 margin-top: 70px;
 }
 
.resources{
margin-top: 30px;
 }
 
 .list li, .externalsites li {
 list-style: none;
 font-family: 'Roboto', sans-serif;
 color:  #898F9C;
 border-bottom: 1px solid #cbd1ce;
 }
 
 
 .list li:visited{color:#898F9C;}
 .list li:hover{color: black;}
 .list li:active{color:#898F9C;}


.pubdate{
 font-size: 13px;
 padding-left: 8px;
}

.externalsites :link{color: #898F9C; text-decoration: none;}
.externalsites :visited{color: #898F9C;}
.externalsites :hover{color: black;}
.externalsites :active{color:#898F9C;}

h3 {
font-family: 'Roboto', sans-serif;
color:  #898F9C;
margin-left: 40px;
font-size: 16px;	
}


a[href^='https:']:after {
  content: url(lock.png);
  padding-left: 4px;
}


.left-side p{text-indent: 40px;
	
}

/*journal*/


/*responsive*/

@media (max-width: 1150px){

.navigation {
	width:98%;
	margin: 1%;
}


aside{
	width: 100%;
}
  .blue {
	  width: 22%;
	  margin: 1.5%;
     }
	  
	 .yellow {
	  width: 22%;
	  margin: 1.5%;
     }
	 
	  .red {
	  width: 22%;
	  margin: 1.5%;
     }
     
      .green {
	  width: 22%;
	  margin: 1.5%;
     }
     
  .grid-2{
	  width:90%;
	  margin: 5%;
    }}	  

    
     
     
@media (max-width: 480px){

.navigation {
	width:100%;
	
}


aside{
	width: 100%;
}
  .blue {
	  width: 96%;
	  margin: 2%;
     }
	  
	 .yellow {
	  width: 96%;
	  margin: 2%;
     }
	 
	  .red {
	  width: 96%;
	  margin: 2%;
     }
     
      .green {
	  width: 96%;
	  margin: 2%;
     }
h1{
	margin-left:30%;
}
   
 .grid-2{
	 width: 98%;
	 margin: 1%;
 }

	
}

 


	

	
