/*header and navigation*/

body {
	
}
	
.wrap{
	width: 1175px;
	margin: 0 auto;
	}
	
.header, .navigation {
	font-family: 'Roboto', sans-serif;
	color:  #898F9C;
	}

.header{
	float: left;
	font-size: 25px;
	margin: 25px;
	
    }

.navigation{
  float: right;
  margin : 25px;
  font-size: 17px;
  padding: 0;
}
    
    
.navigation li{
    float: right;
    padding-left: 15px;
    position: relative;
    display: block;
    }
    
.navigation a:link{color:#898F9C; text-decoration: none;}
.navigation a:visited{color:#898F9C;}
.navigation a:hover{color: black;}
.navigation a:active{color:#898F9C;}


/*header and navigation*/



/*columns*/

.grid-1{
  font-family: 'Roboto', sans-serif;
  color:  white;
  position: relative;
  clear:both;
  width: 1175px;
  margin: auto 0px;
  background: rgba(123, 121, 143, .8);
  border-radius: 15px;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
      -ms-border-radius: 15px;
       -o-border-radius: 15px;
          
  }
 

.image{
	position: relative;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	}

.text {
  float:right;
  position: absolute;
  margin: 10px 0 0 530px;
  line-height: 2;
  color: white;
  padding-right: 10px;
  }
  
.grid-2{
  width: 1170px;
  position: absolute;
  
  }
  
.boxes {
  width: 30%;
  border: black;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  color:  #898F9C;
  float: left;
  padding-left: 5px;
  margin-left: 40px;
  }
  
/*columns*/

/*experimental*/
.group-buttons{
	width: 100%;
	margin: 30 0 0 75;
	float: left;
    }

.box-1, .box-2{
	width: 300px;
	height: 500px;
	float: left;
    }


.alert {
    color: white;
	font: Helvetica;
	border-color: #04c #04c #002a80 #04c;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    display: block;
    text-align: center;
    border-style: solid;
    -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      -ms-border-radius: 10px;
       -o-border-radius: 10px;
          border-radius: 10px;
     opacity: 0.9;
     padding-top: 22px;
    text-shadow: rgba(0,0,0,0.5);
     margin-bottom: 3px;
    }


.big{
  width: 150px;
  height: 50px;	
}


.small{
  width: 100px;
  height: 25px;
  padding-bottom: 21px;
  }
	
.alt-information{
	background-color: yellow;

}	
	
.alt-success{
	background-color: green;
}

.alt-warning{
	background-color: red;
}	
	
.alt-error{
	background-color: blue;
}

.tooltip{
    display: inline;
    position: relative;
    }
    
 .tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 45px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position:  absolute;
    z-index: 98;
    width: 150px;
    }
    
  .tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 40px;
    content: "";
    left: 30%;
    position: absolute;
    z-index: 99;
}
/*experimental*/


/*journal*/


.wrap-journal {
	width: 1175px;
	margin: 0 auto;
	
}

.container {
	width: 1010px;
	height: 900px;
    border: 1px solid black;
	overflow: hidden;
	margin-left: 50px;
	border-radius: 15px;
	}

    
.left-side{
    float: left;
	width: 600px;
	height: 300px;
	margin: 15px;
	
	color: red;
	font-family: 'Roboto', sans-serif;
    color:  #898F9C;
    }

.right-side, .resources{
 float: right;
 width: 325px;

 margin-top: 70px;
 }
 
.resources{
margin-top: 30px;
 }
 .list li, .externalsites li {
 list-style: none;
 font-family: 'Roboto', sans-serif;
 color:  #898F9C;
 border-bottom: 1px solid #cbd1ce;
 }
 
 
 .list li:visited{color:#898F9C;}
 .list li:hover{color: black;}
 .list li:active{color:#898F9C;}


.pubdate{
 font-size: 13px;
 padding-left: 8px;
}

.externalsites :link{color: #898F9C; text-decoration: none;}
.externalsites :visited{color: #898F9C;}
.externalsites :hover{color: black;}
.externalsites :active{color:#898F9C;}

h3 {
font-family: 'Roboto', sans-serif;
color:  #898F9C;
margin-left: 40px;
font-size: 16px;	
}


a[href^='https:']:after {
  content: url(lock.png);
  padding-left: 4px;
}


.left-side p{text-indent: 40px;
	
}